<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content" id="patients-content" style="width:100%;text-align: center;">
        <h2>Available Doctors</h2>
        <table border="1" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>hospital</th>
                    <th>department</th>
                    <th>Qualification</th>
                    <th>Experience</th>
                    <th>availabilty</th>
                </tr>
            </thead>
            <tbody>
               
            <tr>
                <td>20100</td>
                <td>Dr.Smith</td>
                <td>Medicare Hospital</td>
                <td>Neurology</td>
                <td>MBBS</td>
                <td>5 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20101</td>
                <td>Dr.johnson</td>
                <td>Medicare Hospital</td>
                <td>cardiology</td>
                <td>MBBS</td>
                <td>7 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20110</td>
                <td>Dr.Wiliams</td>
                <td>Global health clinic</td>
                <td>Nephrology</td>
                <td>MBBS</td>
                <td>3 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20111</td>
                <td>Dr.Brown</td>
                <td>Global Health Clinic</td>
                <td>gastroentrology</td>
                <td>MBBS</td>
                <td>7 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20120</td>
                <td>Dr.Garcia</td>
                <td>Sunrise Medical Center</td>
                <td>Neurology</td>
                <td>MBBS</td>
                <td>5 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20121</td>
                <td>Dr.Martinez</td>
                <td>Sunrise Medical Center</td>
                <td>ENT</td>
                <td>MBBS</td>
                <td>8 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20130</td>
                <td>Dr.Robinson</td>
                <td>Heal Well Hospital</td>
                <td>Dermatology</td>
                <td>MBBS</td>
                <td>7 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20131</td>
                <td>Dr.Clark</td>
                <td>Heal Well Hospital</td>
                <td>Dentistry</td>
                <td>MBBS</td>
                <td>6 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20140</td>
                <td>Dr.Lewis</td>
                <td>Care Hospital</td>
                <td>Orthopedic</td>
                <td>MBBS</td>
                <td>15 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20141</td>
                <td>Dr.Hall</td>
                <td>Care Hospital</td>
                <td>Neurology</td>
                <td>MBBS</td>
                <td>10 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20150</td>
                <td>Dr.Davis</td>
                <td>Medlife Hospital</td>
                <td>cardiology</td>
                <td>MBBS</td>
                <td>5 years</td>
                <td><input type="checkbox">available</td>
            </tr>
            <tr>
                <td>20151</td>
                <td>Dr.Miller</td>
                <td>Medilife Hospital</td>
                <td>Nephrology</td>
                <td>MBBS</td>
                <td>3 years</td>
                <td><input type="checkbox">available</td>
            </tr>
        

            </tbody>
        </table>
        </div>

    
</body>
</html>